<div class="loading" *ngIf="loaded==false">
  <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
</div>
<nz-layout class="layout" *ngIf="loaded==true">
    <nz-header style="z-index: 1;">
      <a [routerLink]="['/home']"><div class="logo"></div></a>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nzSelected [routerLink]="['/dashboard']" nz-menu-item>{{ enum.MENU_BAR.FINDLOCUM }}</li>
        <li [routerLink]="['/about']" nz-menu-item>{{ enum.MENU_BAR.ABOUT }}</li>
        <li [routerLink]="['/support']" nz-menu-item>{{ enum.MENU_BAR.SUPPORT }}</li>
        <li [routerLink]="['/contact']" nz-menu-item>{{ enum.MENU_BAR.CONTACT }}</li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb>
          <nz-breadcrumb-item><a [routerLink]="['/home']">{{ enum.BREADCRUMB.HOME }}</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>{{ enum.BREADCRUMB.DASHBOARD }}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-tabset>
            <nz-tab nzTitle="List View">
                <button nz-button nzType="primary">{{ enum.BUTTON.ADD_JOB }}</button>
                <button nz-button nzType="primary">{{ enum.BUTTON.ADD_LOCUM }}</button>
                <button nz-button nzType="primary" style="background-color: rgb(218, 71, 132); border: 0px;">{{ enum.BUTTON.NEED_JOB }}</button>
                <button nz-button nzType="primary" style="background-color: rgb(218, 71, 132); border: 0px;">{{ enum.BUTTON.NEED_LOCUM }}</button>
                <h2>Nearby List:</h2>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="Search Location" />
                </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                  </ng-template>
                  
                  <!-- Filter -->
                  <br/>
                  <br/>
                  <div class="table-operations">
                      <h2> Filters: </h2>
                    <button nz-button (click)="filter_fulltime()">{{ enum.FILTER_BUTTON.FULLTIME_JOB }}</button>
                    <button nz-button (click)="filter_locum()">{{ enum.FILTER_BUTTON.LOCUM_JOB }}</button>
                    <button nz-button (click)="filter_need_fulltime()">{{ enum.FILTER_BUTTON.NEED_JOB }}</button>
                    <button nz-button (click)="filter_need_locum()">{{ enum.FILTER_BUTTON.NEED_LOCUM }}</button>
                    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onSelectedDate($event)"></nz-range-picker>
                  </div>
                  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
                    <thead>
                      <tr>
                        <th
                          *ngFor="let column of listOfColumns"
                          [(nzSortOrder)]="column.sortOrder"
                          [nzSortFn]="column.sortFn"
                        >
                          {{ column.name }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of filterTable.data">
                        <td>{{ data.name }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.address }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Map View">
                <div *ngIf="apiLoaded | async">
                    <google-map width="100%"></google-map>
                </div>
            </nz-tab>
          </nz-tabset>
      </div>
    </nz-content>
    <nz-footer>Made by <a href="{{ enum.LINKEDIN.PROFILE_LINK }}" target="_blank"><b>Farhan Fazli</b></a> and backed by <b>You!</b></nz-footer>
</nz-layout>