<div class="loading" *ngIf="pageload==false">
  <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
</div>
<nz-layout class="layout" *ngIf="pageload==true">
    <nz-header style="z-index: 1;">
      <a [routerLink]="['/home']"><div class="logo"></div></a>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li [routerLink]="['/dashboard']" nz-menu-item>{{ enum.MENU_BAR.FINDLOCUM }}</li>
        <li [routerLink]="['/about']" nz-menu-item>{{ enum.MENU_BAR.ABOUT }}</li>
        <li [routerLink]="['/support']" nz-menu-item>{{ enum.MENU_BAR.SUPPORT }}</li>
        <li [routerLink]="['/contact']" nz-menu-item>{{ enum.MENU_BAR.CONTACT }}</li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
          <!-- Hero Section Start -->
          <section class="text-center hero" name="Carousel">
            <div class="hero-content">
              <h1 class="hero-title">
                   {{ enum.HERO.TITLE }}
              </h1>
              <h2 class="hero-subtitle">
                   {{ enum.HERO.SUB_TITLE }}
              </h2>
              <a [routerLink]="['/dashboard']" class="btn btn-3">
                <i nz-icon nzType="search"></i>
                {{ enum.BUTTON.FIND_LOCUM }}
              </a>
           </div>
          </section>
          <!-- Hero Section End -->
          <!-- Analytics Section Start -->
          <section class="text-center" name="Analytics">
            <h1 nz-typography>Statistic</h1>
            <div nz-row [nzGutter]="24">
              <!-- List of Locum Available -->
              <div nz-col [nzSpan]="12">
                <nz-card nzHoverable nzTitle='{{ enum.CARD_TITLE.AVAIL_LOCUM }}'>
                  <h1>{{ getTotalLocum() }}</h1>
                </nz-card>
              </div>
              <!-- List of Job Available (Contract/Permanent) -->
              <div nz-col [nzSpan]="12">
                <nz-card nzHoverable nzTitle='{{ enum.CARD_TITLE.AVAIL_JOB }}'>
                  <h1>{{ getTotalJob() }}</h1>
                </nz-card>
              </div>
            </div>
            <br/>
            <div nz-row [nzGutter]="24">
              <!-- List of Doctor finding Locum -->
              <div nz-col [nzSpan]="12">
                <nz-card nzHoverable nzTitle="{{ enum.CARD_TITLE.IND_JOB }}">
                  <h1>{{ getTotalIndJob() }}</h1>
                </nz-card>
              </div>
              <!-- List of Doctor finding Job Permanent/Contract -->
              <div nz-col [nzSpan]="12">
                <nz-card nzHoverable nzTitle="{{ enum.CARD_TITLE.IND_LOCUM }}">
                  <h1>{{ getTotalIndLocum() }}</h1>
                </nz-card>
              </div>
            </div>          
            <br/>
            <div echarts [options]="options" [theme]="theme" class="demo-chart"></div>
            <br/>
            <div echarts [options]="options" [theme]="theme" class="demo-chart"></div>
          </section>
          <!-- Analytics Section End -->
          <nz-divider></nz-divider>
          <!-- Feedback Section Start -->
          <section name="Feedback">
            <div class="text-center" *ngIf="loaded==false">
              <nz-spin [nzSize]="'default'" nzSimple></nz-spin>
            </div>
            <div *ngIf="loaded==true" >
              <div *ngFor="let feedback of feedbackList">
                <nz-comment [nzAuthor]="feedback.BY" [nzDatetime]="feedback.POST_DATE">
                  <nz-avatar
                    nz-comment-avatar
                    nzIcon="user"
                    [nzSrc]="feedback.PROFILE_PICTURE"
                  ></nz-avatar>
                  <nz-comment-content>
                    <p>{{ feedback.COMMENT }}</p>
                  </nz-comment-content>
                </nz-comment>
              </div>
              <nz-pagination class="text-center" (nzPageIndexChange)="changePage($event)" [(nzPageIndex)]="this.currentPage" [nzTotal]="this.commentSize"></nz-pagination>
            </div>    
          </section>
          <!-- Feedback Section End -->
          <nz-divider></nz-divider>
          <!-- Support Us Section Start -->
          <section class="text-center" name="Support">
            <h2>{{ enum.FOOTER.NON_PROFIT_DESCRIPTION }}</h2>
            <a [routerLink]="['/support']" nz-button nzType="primary">{{ enum.BUTTON.DONATE_BUTTON }}</a>
          </section>
          <!-- Support Us Section End -->
      </div>
    </nz-content>
    <nz-footer>Made by <a href='{{ enum.LINKEDIN.PROFILE_LINK }}' target="_blank"><b>Farhan Fazli</b></a> and backed by <b>You!</b></nz-footer>
</nz-layout>

